.FilmLibrary {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: space-around;
}

.filmList {
  background-color: red;
  position: relative;
  flex: 1 0 33.333333%;
  height: 100%;
  padding: 3.6em 0 0;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.sectionTitle {
  background-color: blue;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #777;
  color: white;
  text-align: center;
  font-size: 0.75em;
  padding: 0.5em;
  margin: 0;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.filmListFilters {
  position: fixed;
  top: 1.6em;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 33.333333%;
}

.filmListFilter {
  flex-grow: 1;
  background-color: #bbb;
  color: white;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.5em;
  margin: 0 0 0.1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  border: none;
}

.filmListFilter:hover {
  background-color: hsl(177, 70%, 46%);
}

.filmListFilter:active {
  background-color: rgb(40, 205, 197);
}

.isActive {
  background-color: lightseagreen;
}

.sectionCount {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-radius: 20%;
  margin-left: 0.5em;
  font-weight: bold;
}

.filmList .sectionTitle {
  width: 33.333333%;
}

.filmDetails .sectionTitle {
  width: 66.666666%;
}

.filmDetails {
  flex: 0 1 66.666666%;
  background-color: #f0f0f0;
  position: relative;
  overflow-y: scroll;
}

/* Row Styles */
.FilmRow {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 180px;
  padding: 0;
  text-align: left;
  margin-bottom: 2px;
  font-size: 12pt;
  background-color: white;
}

.actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  flex-grow: 1;
}

.action {
  display: flex;
  padding: 5px;
  margin: 2px;
  align-items: center;
  justify-content: center;
  font-size: 12pt;
  font-weight: 800;
  background-color: transparent;
  border: 1px solid lightseagreen;
  border-radius: 5px;
}

.action:hover {
  background-color: lightseagreen;
}

.action:active {
  background-color: rgb(40, 205, 197);
}

.filmSummary {
  flex-grow: 1;
  padding: 0.5em 0.5em;
  display: flex;
  flex-direction: column;
}

.filmSummary > h3 {
  margin-top: 0.35em;
  margin-bottom: 0.35em;
}

.filmSummary > p {
  margin-top: 0;
}
